# terraform
.terraform/
backend.tf
terraform.tfvars
.terraform.lock.hcl
tmp.tf

# NodeJS
node_modules/
*.env
dist/
.env.*
package-lock.json
.pnpm-store/

#
tmp/
dist/
todo

#
.vscode/launch.json


.nx/cache
.nx/workspace-data
.nx/migrate-runs
vitest.config.*.timestamp*
vite.config.*.timestamp*