on:
  workflow_call:
    inputs:
      lambda_function:
        description: Lambda function name
        required: true
        type: string
      upload:
        description: Upload to AWS
        required: false
        type: boolean
        default: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./02_central
    concurrency:
      group: 02_central-${{ inputs.lambda_function }}-${{ github.ref }}
      cancel-in-progress: false
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: ./02_central/package.json
          cache: "npm"
          cache-dependency-path: ./02_central/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Unit tests ${{ inputs.lambda_function }}
        run: npm run test:unit

      - name: Build ${{ inputs.lambda_function }}
        run: npm run buildZip:${{ inputs.lambda_function }}

      - name: Configure AWS credentials
        if: inputs.upload == true
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: gitgazer-deployment
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
          mask-aws-account-id: true

      - name: Upload ${{ inputs.lambda_function }} Lambda function code to S3
        if: inputs.upload == true
        run: |
          aws s3 cp ./dist/lambda.zip s3://${{ secrets.S3_BUCKET_LAMBDA_STORE }}/gitgazer-${{ inputs.lambda_function }}.zip
