name: CI/CD 02_central
on:
  push:
    branches:
      - main
    paths:
      - "02_central/**"
      - ".github/workflows/ci_cd_02_central.yaml"
      - "common/**"
  pull_request:
    paths:
      - "02_central/**"
      - ".github/workflows/ci_cd_02_central.yaml"
      - "common/**"
  workflow_dispatch:
    inputs:
      deploy:
        description: Deploy to AWS
        required: false
        type: boolean
        default: false

jobs:
  build:
    uses: ./.github/workflows/build_02_central.yaml
    concurrency:
      group: 02_central-${{ matrix.lambda-function }}-${{ github.ref }}
      cancel-in-progress: false
    permissions:
      contents: read
      id-token: write
    strategy:
      matrix:
        lambda-function: [api, alerting, analytics]
    secrets: inherit

  deploy:
    uses: ./.github/workflows/deploy_infra.yaml
    if: github.ref == 'refs/heads/main' || inputs.deploy == true
    needs: build
    permissions:
      contents: read
      id-token: write
    secrets: inherit
