name: CI/CD 02_central
on:
  push:
    branches:
      - main
    paths:
      - "02_central/**"
      - ".github/workflows/ci_cd_02_central.yaml"
      - "common/**"
  pull_request:
    paths:
      - "02_central/**"
      - ".github/workflows/ci_cd_02_central.yaml"
      - "common/**"
  workflow_dispatch:
    inputs:
      deploy:
        description: Deploy to AWS
        required: false
        type: boolean
        default: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./02_central
    concurrency:
      group: 02_central-${{ github.ref }}
      cancel-in-progress: false
    environment:
      name: ${{ github.ref == 'refs/heads/main' && 'app.gitgazer.com' || null }}
      url: ${{ github.ref == 'refs/heads/main' && 'https://app.gitgazer.com/' || null }}
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: ./02_central/package.json
          cache: "npm"
          cache-dependency-path: ./02_central/package-lock.json

      - name: Install common package dependencies
        working-directory: common
        run: npm ci

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Unit tests
        run: npm run test:unit

      - name: Build Lambdas
        run: |
          npm run buildZip:api
          npm run buildZip:alerting
          npm run buildZip:websocket

      - name: Configure AWS credentials
        if: github.ref == 'refs/heads/main' || inputs.deploy == true
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: gitgazer-deployment
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
          mask-aws-account-id: true

      - name: Upload Lambdas function code to S3
        if: github.ref == 'refs/heads/main' || inputs.deploy == true
        run: |
          aws s3 sync ./tmp/ s3://${{ secrets.S3_BUCKET_LAMBDA_STORE }}/

  deploy:
    uses: ./.github/workflows/deploy_infra.yaml
    if: github.ref == 'refs/heads/main' || inputs.deploy == true
    needs: build
    permissions:
      contents: read
      id-token: write
    secrets: inherit
